absl-py==1.0.0
airobot @ git+https://github.com/Improbable-AI/airobot.git@114a949527a5b5e63b0ee0073362bc70abfde802
alabaster==0.7.12
antlr4-python3-runtime==4.9.3
attrs==21.4.0
Babel==2.9.1
backcall==0.2.0
cachetools==4.2.4
catkin-pkg==0.4.24
certifi==2020.6.20
cffi==1.15.0
charset-normalizer==2.0.12
cloudpickle==2.0.0
colorlog==6.6.0
commonmark==0.9.1
coverage==6.2
cycler==0.11.0
Cython==0.29.28
dataclasses
decorator==5.1.1
docutils==0.17.1
easyrl @ git+https://github.com/taochenshh/easyrl.git@a0add65d55fdda13380f831fefc48d81515e5175
fasteners==0.17.3
-e git+https://github.com/NishanthJKumar/fetch-block-construction.git@b5b4aef6c94abb9086c03ea06518f9cbfb41f39b#egg=fetch_block_construction
gitdb==4.0.9
GitPython==3.1.18
glfw==2.5.1
google-auth==2.6.4
google-auth-oauthlib==0.4.6
GPUtil==1.4.0
grpcio==1.44.0
gym==0.21.0
idna==3.3
imageio==2.15.0
imagesize==1.3.0
importlib-metadata==4.8.3
importlib-resources==5.4.0
iniconfig==1.1.1
ipdb==0.13.9
ipython==7.16.3
ipython-genutils==0.2.0
jedi==0.17.2
Jinja2==3.0.3
joblib==1.1.0
kiwisolver==1.3.1
Markdown==3.3.6
MarkupSafe==2.0.1
matplotlib==3.3.4
mujoco-py==2.1.2.14
numpy==1.19.5
oauthlib==3.2.0
olefile==0.46
opencv-python==4.5.5.64
packaging==21.3
parso==0.7.1
pddlpy==0.3.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.4.0
pluggy==1.0.0
pockets==0.9.1
prompt-toolkit==3.0.28
protobuf==3.19.4
ptyprocess==0.7.0
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pyassimp==4.1.4
pybullet==3.2.2
pycparser==2.21
Pygments==2.11.2
pyparsing==3.0.8
pytest==7.0.1
pytest-cov==3.0.0
pytest-html==3.1.1
pytest-lazy-fixture==0.6.3
pytest-metadata==1.11.0
python-dateutil==2.8.2
pytz==2022.1
PyYAML==6.0
recommonmark==0.7.1
requests==2.27.1
requests-oauthlib==1.3.1
rospkg==1.4.0
rsa==4.8
scikit-learn==0.24.2
scipy==1.5.4
six==1.16.0
smmap==5.0.0
snowballstemmer==2.2.0
Sphinx==4.5.0
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-napoleon==0.7
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
threadpoolctl==3.1.0
toml==0.10.2
tomli==1.2.3
torch==1.10.2
tqdm==4.64.0
traitlets==4.3.3
typing_extensions==4.1.1
urllib3==1.26.9
wcwidth==0.2.5
Werkzeug==2.0.3
yacs==0.1.8
zipp==3.6.0
